body {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.progressContainer {
    display: flex;
    align-items: flex-start;
}

.progressBarContainer {
    position: relative;
}

#progressBar {
    width: 20px;
    /* Adjust width as needed */
    height: 500px;
    background-color: #e0e0e0;
    position: relative;
}

.progress {
    width: 100%;
    background-color: green;
    position: absolute;
    top: 0;
}

.playbackIndicator {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.timeLabels {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    justify-content: space-between;
}

#startTime,
#endTime {
    font-size: 12px;
}

#timeHatches {
    position: absolute;
    width: 100%;
    height: 100%;
}

.timeHatch {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
}

.bookmarksList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 500px;
    /* Match the height of the progress bar */
    margin-left: 10px;
    /* Space between progress bar and bookmarks list */
}

.bookmarkItem {
    position: absolute;
    left: 0;
    white-space: nowrap;
}